.details-div {
    position: relative;
}

.details-sticky {
    position: sticky;
    top: 148px; 
    z-index: 3; 
    background-color: rgba(255, 255, 255);
    width: 100%; 
    max-width: 1080px; 
    width: 100%; 
    max-width: 1080px; 
    padding-bottom: .5rem;
}

.details-img-div {
    padding-bottom: 2.75rem;
}

.details-title {
    margin: .25rem 0;
    padding-top: 1rem;
    font-weight: 300;
}

.details-description {
    padding-bottom: .5rem;
}

.details-img {
    max-height: 900px;
    max-width: 1080px;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    object-fit: cover;
}
